.taskLine {
    display: flex;
    flex-direction: row;

    p {
        display: inline-block;
    }

    :nth-last-child(2) {
        flex: 1;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem 1rem;

    > :last-child {
        margin-top: 1rem;
    }

    form {
        display: flex;
        gap: 1rem;
        :first-child {
            flex: 1;
        }
    }
}
